.button {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    gap: var(--spacing-8);
    justify-content: center;
    line-height: 15px;
    padding: var(--spacing-8) var(--spacing-16);
}

.button--filled {
    background-color: var(--color-purple);
    border-radius: 48px;
    color: var(--color-white);
}

.button--filled > img {
    height: 18px;
    width: 20px;
}

.button--clean {
    color: var(--color-purple);
    padding: 0;
}

.button--clean > img {
    height: 34px;
    width: 34px;
}
@media only  screen and (min-width: 768px) {
    .button {
        font-size: 18px;
        line-height: 24px;
        padding: var(--spacing-16) var(--spacing-24);
    }

    .button--filled > img {
        height: 24px;
        width: 23px;
    }

    .button--clean > img {
        height: 55px;
        width: 55px;
    }
}
