:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-purple: #ADA7FF;
    --color-lvender: #DAB6FC;
    --color-yellow: #E9BC52;
    --color-grey: #686868;
    --color-dark-plum: #302B3A;
    --color-bluebery: #9A93FF;
    --color-logo: #8187DC;
}