@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato'),
    url('../assets/fonts/Lato-Light.ttf');
}

@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'),
    url('../assets/fonts/Lato-Regular.ttf');
}

@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: local('Lato'),
    url('../assets/fonts/Lato-Medium.ttf');
}

@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: local('Lato'),
    url('../assets/fonts/Lato-Semibold.ttf');
}

@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato'),
    url('../assets/fonts/Lato-Bold.ttf');
}