@import 'buttons.css';
@import 'colors.css';
@import 'fonts.css';
@import 'spacing.css';
@import 'typography.css';

.header {
    border-bottom: 0.5px solid rgba(212, 212, 212, 58%);
    padding: var(--spacing-24) 0;
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-16);
}

.navigation__logo-img {
    height: 25px;
    width: 29px;
}

.navigation__items {
    display: none;
}

.navigation__start-button {
    display: none;
}

.navigation__hamburger {
    display: block;
}

.navigation__hamburger-img {
    height: 16px;
    width: 24px;
}

.main {
    padding: 0 var(--spacing-16);
}

.pet-adoption {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-56);
    position: relative;
}

.pet-adoption__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    width: 100%;
}

.pet-adoption__title--highlighted {
    color: var(--color-purple);
}

.pet-adoption__service-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
}

.pet-adoption__description {
    font-size: 12px;
    width: 100%;
}

.pet-adoption__actions {
    display: flex;
    gap: var(--spacing-24);
    height: 34px;
    padding: 0;
}

.pet-adoption__stats {
    display: flex;
    gap: var(--spacing-32);
}

.pet-adoption__stat-item {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.pet-adoption__stat-item-count {
    color: var(--color-dark-plum);
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

.pet-adoption__stat-item-label {
    color: var(--color-grey);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}

.pet-adoption__illustration-img {
    height: 100%;
    width: 100%;
}

@media only  screen and (min-width: 768px) {
    .container {
        margin: 0 9%;
    }

    .header {
        border: none;
        padding: 50px 0;
    }

    .navigation {
        gap: var(--spacing-24);
        padding: 0;
    }

    .navigation__logo-img {
        height: 56px;
        width: 50px;
    }

    .navigation__items {
        display: block;
    }

    .navigation__item-list {
        display: flex;
        gap: var(--spacing-24);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation__list-item {
        color: var(--color-black);
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    .navigation__list-item--active {
        color: var(--color-bluebery);
    }

    .navigation__hamburger {
        display: none;
    }

    .navigation__start-button {
        display: block;
    }

    .main {
        height: calc(100vh - 300px);
        padding: 0;
        width: 100%;
    }

    .pet-adoption {
        display:block;
    }

    .pet-adoption__service {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 300px);
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    .pet-adoption__title {
        font-size: 69px;
        line-height: 88px;
    }

    .pet-adoption__description {
        font-size: 18px;
        width: 52%;
    }

    .pet-adoption__service-content {
        gap: var(--spacing-56);
    }

    .pet-adoption__actions {
        gap: var(--spacing-32);
        height: 56px;
    }

    .pet-adoption__stats {
        gap: var(--spacing-64);
    }

    .pet-adoption__stat-item-count {
        font-size: 44px;
        line-height: 54px;
    }

    .pet-adoption__stat-item-label {
        font-size: 18px;
        line-height: 24px;
    }

    .pet-adoption__illustration {
        bottom: 0;
        padding-top: var(--spacing-32);
        position: absolute;
        right:0;
        top: 0;
        z-index: -1;
    }

    .pet-adoption__illustration-img {
        height: calc(100vh - 270px);
        width: auto;
    }
}
