@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'),
    url('../assets/fonts/OpenSans-Light.ttf');
}

@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),
    url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Open Sans'),
    url('../assets/fonts/OpenSans-Medium.ttf');
}

@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans'),
    url('../assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans'),
    url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans'),
    url('../assets/fonts/OpenSans-ExtraBold.ttf');
}