@import "colors.css";

/* note with line */
.title-note {
    color: var(--color-honey-bee);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 25px;
    margin-left: 104px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}

.title-note--single::before {
    border-top: 2px solid var(--color-honey-bee);
    content: "";
    left: -104px;
    position: absolute;
    top: 50%;
    width: 72px;
}

.title-note--multi::before {
    border-top: 2px solid var(--color-honey-bee);
    content: "";
    left: -104px;
    position: absolute;
    top: 50%;
    width: 72px;
}

.title-note--multi::after {
    border-top: 2px solid var(--color-honey-bee);
    content: "";
    position: absolute;
    right: -104px;
    top: 50%;
    width: 72px;
}

/* slider arrows */
.image__arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

/* input */
.input {
    border-bottom: 2px solid rgba(255, 255, 255, 30%);
    display: flex;
}

.input__field {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    flex-grow: 2;
    font-size: 16px;
    opacity: 0.3;

}

input:focus {
    outline: none;
}

.input__button {
    background: var(--color-orange);
    border: none;
    border-radius: 8px 8px 0 0;
    color: rgb(15, 14, 14);
    cursor: pointer;
    opacity: 1;
}

.input__button::placeholder {
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
}
