@import "colors.css";
@import "global.css";
@import "typography.css";

body {
    background: black url("../assets/images/hero-bg.png") no-repeat;
    background-size: 100%;
    font-size: 16px;
}

.header {
    background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0%) 31.06%, #000 108.93%);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 50px 80px;
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navigation__logo {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 33px;
    text-transform: capitalize;
}

.navigation__item-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.navigation__link {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.navigation__search-input {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: var(--color-white);
    line-height: 25px;
    opacity: 0.6;
    width: 90px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.navigation__search-input::placeholder {
    color: var(--color-white);
}

.navigation__search-input:focus {
    border-bottom: 1px solid var(--color-white);
    outline: none;
}

.navigation__search-icon {
    background: url("../assets/icons/search.svg") no-repeat left;
    background-size: 20px;
    fill: var(--color-white);
    line-height: 25px;
    padding-left: 25px;
}

.header__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}

.header__page-context {
    display: flex;
    gap: 50px;
    width: 100%;
}

.header__social-media {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 25px;
}

.header__social-media-vertical-text {
    margin-top: 62px;
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
}

.header__social-media-icon {
    height: 24px;
    width: 24px;
}

.header__context-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
}

.header__context-title-text {
    color: var(--color-white);
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
    text-transform: capitalize;
}

.header__scroll-down {
    align-items: center;
    display: flex;
    gap: 8px;
}

.header__scroll-down-text {
    color: var(--color-white);
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
}


.container {
    padding: 0 224px;
}

.article__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 250px;
    margin-top: 500px;
    position: relative;
}

.article__list-item {
    align-items: center;
    display: flex;
    gap: 300px;
    position: relative;
}

.article__item-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.article__item-content-title-text {
    color: var(--color-white);
    font-size: 64px;
    font-weight: 700;
    text-transform: none;
}

.article__item-content-paragraph {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.article__item-content-read-more {
    color: var(--color-honey-bee);
    display: flex;
    font-size: 18px;
    font-weight: 700;
    gap: 8px;
    line-height: 25px;
}

.article__item-content-read-more--center {
    display: flex;
    justify-content: center;
}

.article__item-with-background-image {
    height: 100%;
    position: relative;
    width: 100%;
}

.article__item-image-content {
    left: 0%;
    position: absolute;
    top: 50%;
    width: 100%;
}

.article__item-image-content-text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    left: 10%;
    position: relative;
    text-align: center;
    width: 80%;
}

.article__item-content-title-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    color: var(--color-white);
    margin-top: 250px;
    padding-bottom: 60px;
}

.footer__intro {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__heading {
    color: var(--color-white);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 33px;
}

.footer__divider {
    color: var(--color-white);
    margin: 56px 0;
    opacity: 0.3;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 132px;
}

.footer__get-started {
    align-items: center;
    display: flex;
    gap: 56px;
    height: 70px;
}

.footer__get-started-text {
    font-size: 22px;
}

.footer__get-started-button {
    background: var(--color-orange);
    border-radius: 8px;
    font-weight: 700;
    padding: 24px 70px;
}

.footer__email-and-links {
    display: flex;
    justify-content: space-between;
}

.footer__email {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__email-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 49px;
}

.footer__links {
    list-style: none;
}

.footer__links > li {
    margin-bottom: 16px;
}

.footer__links li:first-of-type {
    color: #FFD1A0;
    font-size: 20px;
    font-weight: 500;
}

.footer__policies_and_social-media {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.footer__policies {
    display: flex;
    gap: 52px;
}

.footer__social-media {
    display: flex;
    gap: 52px;
}

.footer__copyright-text {
    color: var(--color-white);
    font-weight: 600;
    line-height: 32px;
    margin-top: 150px;
    opacity: 0.5;
    text-align: center;
}
