.section-feature {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    max-width: 83vw;
  }
  
  .section-feature-left {
    padding-right: 15px;
  }
  
  .section-feature-left .title {
    font-size: 8.2vh;
    margin-bottom: 10vh;
  }
  
  .section-feature-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10vh;
  }
  
  .section-feature-btns .btn {
    max-width: 206px;
    border-radius: 20px;
  }
  
  .section-feature-btns .btn:not(:last-child) {
    margin-right: 80px;
  }
  
  .feature__text {
    font-size: 2.2vh;
  }
  
  .feature__img {
    padding-right: 1vw;
  }
  