.container.signUp {
    background: url(../assets/images/background-page-sign-up.png) no-repeat right/ contain;
  }
  
  .section-signUp form {
    margin-bottom: 4.6vh;
  }
  
  .section-signUp fieldset {
    background-color: var(--color-main);
    border: none;
    border-radius: 20px;
    display: flex;
    max-width: 37.5vw;
    max-height: 36vh;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4.6vh 2.7vw;
    font-size: 32px;
  }
  
  .section-signUp label {
    text-align: left;
  }
  
  .section-signUp input {
    width: 20.5vw;
    height: 6.1vh;
    border: 4px solid var(--color-orange);
    border-radius: 20px;
  }
  
  .section-signUp input:not(:last-child) {
    margin-bottom: 4vh;
  }
  