/* CRITICAL: USE #Yafremava AT THE BEGGINING OF EVERY CSS SELECTOR */

/* Example 01 */
/* 
#Yafremava .portfolio-title {
  color: red;
  margin-bottom: 10px;
}
*/

/* Example 02 */
/* 
#Yafremava article .portfolio-description {
  padding: 24px;
}
*/
