.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-height: 376px;

  background-color: var(--color-light-pink);
  background-image: url("../assets/images/hero-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 78px 96px 78px 32px;
}

.hero__title {
  font-size: 1.125rem;
  line-height: 1.5rem;

  margin-bottom: 30px;
}

.hero__description {
  font-size: 0.875rem;
  line-height: 1.375rem;

  margin-bottom: 30px;
}

.hero__cta {
  border: none;
  color: var(--color-white);
  background-color: var(--color-pink);

  padding: 8px 54px;

  font-size: 0.875rem;
  line-height: 1.375rem;
}
