/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: linear-gradient(74.79deg, #ff9292 -7.33%, #de5150 90.21%);
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  --color-dark-cherry: #180202;
  --color-reddish-orange: #e86564;
  --color-soft-pink: #fff4f4;
  --color-pastel-blue: #e5f1ff;
  --color-misty-rose: #ffe5ee;
  --color-pale-aqua: #e5fffb;
}
