@import "spacing.css";

/* COMMON PAGE STYLES */
html {
  background: var(--main-bg-color);
  background-repeat: no-repeat;
  color: var(--color-black);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

body {
  width: 100%;
}

.divider {
  background-color: var(--color-white);
  min-height: 50px;
  width: 2px;
}

.container-m {
  padding: 0 var(--spacing-32);
}

.container-s {
  padding: 0 var(--spacing-24);
}

.icon {
  height: 98px;
  position: relative;
  width: 98px;
}

/* Button */
.button {
  border-radius: 62px;
  font-size: 22px;
  font-weight: 500;
  padding: var(--spacing-16) var(--spacing-32);
  width: 100%;
}

.button--red {
  background-color: var(--color-red);
  color: var(--color-white);
}

.button--white {
  background-color: var(--color-white);
  color: var(--color-red);
}

.button--uppercase {
  text-transform: uppercase;
}

/* Input */
.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
}

.input__field {
  border: none;
  border-radius: 72px;
  padding: var(--spacing-16) var(--spacing-32);
}

.input::placeholder {
  font-size: 18px;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  /* input */
  .input {
    flex-direction: row;
    gap: 0;
  }

  .input__field {
    border: none;
    border-radius: 72px 0 0 72px;
    padding: var(--spacing-16) var(--spacing-32);
    width: 100%;
  }

  .input__field::placeholder {
    font-size: 18px;
    opacity: 0.3;
  }

  input {
    outline: none;
  }

  /* Button */
  .button--input {
    border-radius: 62px;
    font-size: 22px;
    font-weight: 500;
    margin-left: -16px;
    padding: var(--spacing-16) var(--spacing-32);
    width: 50%;
  }
}
