/* Download font 'Rubik' from the internet */

/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "colors.css";
@import "global.css";
@import "spacing.css";

.header {
  background: linear-gradient(46deg, #ff9292 0%, #de5150 100%);
  padding: var(--spacing-16) var(--spacing-24);
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  height: 66px;
  width: 73px;
}

.navigation__items {
  display: none;
}

.navigation__hamburger {
  background: none;
  border: none;
}

.hero {
  padding: var(--spacing-16);
}

.hero__image {
  max-height: 330px;
  max-width: 330px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.hero__heading {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.hero__heading-note {
  color: var(--color-white);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero__heading-title {
  color: var(--color-white);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__prices {
  align-items: center;
  display: flex;
  gap: var(--spacing-32);
  justify-content: center;
}

.hero__price {
  color: var(--color-white);
}

.hero__price--normal {
  font-size: 44px;
  font-weight: 700;
}

.hero__price--crossed {
  font-size: 31px;
  font-weight: 500;
  opacity: 0.7;
  text-decoration-line: line-through;
}

.hero__buy-button {
  padding: var(--spacing-16) 0 var(--spacing-8) 0;
}

.main {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
}

.main__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-40) 0;
}

.main__section-heading {
  color: var(--color-dark-cherry);
  font-size: 31px;
  font-weight: 500;
  padding-bottom: var(--spacing-16);
}

.main__section-heading--bold {
  font-size: 32px;
  font-weight: 700;
}

.main__section-heading--centered {
  text-align: center;
  width: 100%;
}

.main__section-heading-note {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  padding-top: var(--spacing-16);
  text-align: center;
}

.swiper__image {
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
  display: flex;
  margin: auto;
  max-height: 249px;
  max-width: 266px;
  transform: scale(0.9);
}

.swiper__image > img {
  max-height: 249px;
  max-width: 266px;
}

.swiper-slide-next {
  z-index: -1;
}

.feature__overview {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feature__heading {
  color: var(--color-dark-cherry);
  font-size: 31px;
  font-weight: 500;
  padding-bottom: var(--spacing-16);
}

.feature__description {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
  padding-top: var(--spacing-16);
}

.feature__description-item {
  align-items: center;
  display: flex;
  gap: var(--spacing-24);
}

.feature__description-item-specs {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.feature__spec-name {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.feature__spec-title {
  font-size: 31px;
  font-weight: 500;
}

.feature__link {
  color: var(--color-red);
  font-weight: 500;
}

.feature__promo-image {
  display: flex;
  justify-content: center;
  padding: var(--spacing-48) 0;
}

.feature__promo-image-size {
  max-height: 208px;
  max-width: 296px;
}

.products {
  display: flex;
  gap: var(--spacing-56);
  margin: var(--spacing-24) 0;
}

.product__desktop {
  display: none;
}

.product {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.product__visualisation {
  border-radius: 30px;
  left: 50%;
  margin-top: var(--spacing-32);
  min-height: 285px;
  min-width: 285px;
  position: relative;
  transform: translateX(-50%);
}

.product__visualisation--pink {
  background-color: var(--color-misty-rose);
}

.product__visualisation--blue {
  background-color: var(--color-pastel-blue);
}

.product__visualisation--green {
  background-color: var(--color-pale-aqua);
}

.product__image {
  height: auto;
  left: 50%;
  max-width: 227px;
  position: absolute;
  top: -15%;
  transform: translate(-50%);
}

.product__cart {
  align-items: center;
  border: 6px solid var(--color-white);
  border-radius: 68px;
  display: flex;
  height: 68px;
  justify-content: center;
  position: absolute;
  right: -34px;
  top: -34px;
  width: 68px;
}

.product__description {
  color: var(--color-dark-cherry);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.product__rating {
  align-items: center;
  display: flex;
  gap: var(--spacing-48);
}

.product__description-rating-text {
  font-size: 16px;
  font-weight: 500;
}

.product__name-and-price {
  align-items: center;
  display: flex;
  gap: var(--spacing-24);
}

.product__name {
  font-size: 22px;
}

.product__price {
  font-size: 22px;
  font-weight: 500;
}

.boxing__image-size {
  max-height: 268px;
  max-width: 307px;
}

.boxing__heading {
  color: var(--color-dark-cherry);
  font-size: 32px;
  font-weight: 700;
  padding-bottom: var(--spacing-16);
}

.boxing__description {
  width: 100%;
}

.boxing__description-item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxing__description-item {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
  display: flex;
  font-size: 22px;
  gap: var(--spacing-24);
  opacity: 0.7;
  padding-bottom: var(--spacing-24);
}

.boxing__description-item:last-child {
  border: none;
}

.subscription {
  background: var(--color-soft-pink);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  margin-bottom: var(--spacing-48);
  padding: var(--spacing-48) var(--spacing-16);
}

.subscription__title {
  color: var(--color-dark-cherry);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  text-align: center;
}

.subscription__heading {
  font-size: 44px;
  font-weight: 700;
}

.subscription__note {
  font-size: 16px;
}

.subscription__email-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
}

.footer {
  align-items: center;
  background: var(--color-reddish-orange);
  display: flex;
  gap: var(--spacing-16);
  justify-content: center;
  padding: var(--spacing-64) var(--spacing-32);
}

.footer__logo {
  height: 66px;
  width: 73px;
}

.footer__navigation {
  display: none;
}

.footer__social-media {
  align-items: center;
  display: flex;
  gap: var(--spacing-32);
}

.footer__social-link {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 48px;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

@media screen and (min-width: 768px) {
  .container-desktop {
    padding: 0 10%;
  }

  .header {
    padding: var(--spacing-32) 10%;
  }

  .navigation__items {
    display: block;
  }

  .navigation__item-list {
    align-items: center;
    display: flex;
  }

  .navigation__item {
    align-items: center;
    border-right: 2px solid rgba(255, 255, 255, 50%);
    display: flex;
    gap: var(--spacing-24);
    padding: 0 var(--spacing-32);
  }

  .navigation__item:last-child {
    border-right: none;
  }

  .navigation__item-icon {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 48px;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    gap: 96px;
    justify-content: center;
    padding: var(--spacing-64);
  }

  .hero__image {
    min-height: 583px;
    min-width: 570px;
  }

  .hero__content {
    align-items: start;
    gap: var(--spacing-40);
  }

  .hero__heading {
    gap: var(--spacing-4);
  }

  .hero__heading-title {
    font-size: 100px;
  }

  .main__section-item {
    align-items: center;
  }

  .main__section-heading {
    font-size: 44px;
    font-weight: 700;
  }

  .swiper__image {
    box-shadow: none;
  }

  .swiper__image > img {
    max-height: 302px;
    max-width: 324px;
  }

  .swiper-slide-active > .swiper__image {
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
    display: flex;
    margin: auto;
    min-height: 453px;
    min-width: 423px;
  }

  .swiper-slide-active > .swiper__image > img {
    min-height: 453px;
    min-width: 423px;
  }

  .swiper-slide-next {
    z-index: -1;
  }

  .feature {
    align-items: center;
    display: flex;
    gap: var(--spacing-64);
  }

  .feature__heading {
    font-size: 44px;
    font-weight: 700;
    padding-bottom: var(--spacing-56);
  }

  .feature__overview {
    align-items: flex-start;
    flex: 1;
  }

  .feature__description {
    align-items: flex-start;
  }

  .feature__promo-image {
    flex: 1;
  }

  .feature__promo-image-size {
    min-height: 474px;
    min-width: auto;
  }

  .products {
    gap: var(--spacing-64);
  }

  .product__visualisation {
    min-height: 329px;
    min-width: 329px;
  }

  .product__image {
    min-width: 255px;
  }

  .product__cart {
    border-radius: 80px;
    height: 80px;
    right: -40px;
    top: -40px;
    width: 80px;
  }

  .product__description {
    gap: var(--spacing-16);
  }

  .product__rating {
    gap: 104;
  }

  .product__name-and-price {
    gap: 94;
  }

  .product__desktop {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
  }

  .boxing {
    align-items: center;
    display: flex;
  }

  .boxing__image-size {
    min-height: 557px;
    min-width: 662px;
  }

  .subscription {
    margin: 130px 15%;
    padding: var(--spacing-56) 104px;
  }

  .footer {
    justify-content: space-between;
    padding: var(--spacing-64) 240px;
  }

  .footer__navigation {
    align-items: center;
    color: var(--color-white);
    display: flex;
    gap: var(--spacing-32);
  }

  .footer__navigation-item {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 500;
  }
}
