#Delbano { 
  background-color: #141d26; 
  font-size: 16px; 
  color: #fff; 
  font-weight: 300; 
} 
 
#Delbano .post { 
  width: 600px; 
  border-radius: 10px; 
  background-color: #293447; 
  padding: 30px; 
} 
 
#Delbano .post__name { 
  font-weight: 600; 
  font-size: 18px; 
  margin: 10px 0; 
} 
 
#Delbano .post__email { 
  text-decoration: none; 
  color: #fff; 
  opacity: 70%; 
} 
 
#Delbano .post__circle { 
  height: 50px; 
  width: 50px; 
  background-color: rgb(141, 189, 255); 
  background-image: radial-gradient(circle, #2408c2, #de96ec);
  border-radius: 50%; 
  margin-right: 30px; 
} 
 
#Delbano .name-wrapper { 
  display: flex; 
  align-items: center; 
} 
 
#Delbano header { 
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 30px; 
} 
 
#Delbano main { 
  line-height: 26px; 
} 
 
#Delbano footer { 
  display: flex; 
  align-items: center; 
} 
 
#Delbano .footer__item { 
  opacity: 70%; 
} 
 
#Delbano .footer__item:nth-child(2) { 
  margin-right: 20px; 
  margin-left: 8px; 
} 
 
#Delbano .like-button { 
  background-color: #293447; 
  border: none; 
} 
 
#Delbano .hashtag { 
  text-decoration: none; 
  color: #1e8dd1; 
  font-weight: 400; 
} 
 
#Delbano .heart-icon { 
  height: 22px; 
}